* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.bg1 {
    background: #aaafb0;
}

.bg2 {
    background: #4e555b;
}

.block1 {
    padding: 5px;
    min-height: 150px;
    color: white;
    margin-bottom: 5px;
}

.bottom-offset {
    margin-bottom: 30px;
}

.footer3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
}

.block2 {
    padding: 5px;
    min-height: 50px;
    color: white;
}

@media screen and (max-width: 1199px ) {
    .sm-order {
        order: 1;
    }
}